@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
}
body {
    max-width: 1600px;
    min-width: 900px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 18px;
    box-sizing: border-box;
}
a {
    transition-duration: 0.5s;
    text-decoration: none;
    color: #FFF;
}
a:hover{
    color: #F3F3F3;
}
input::placeholder {
    color: #000;
}
header {
    position: relative;
    width: 100%;
    height: 740px;
    background: url("../img/apples.jpg") no-repeat;
    background-position: center;
    color: #FFF;
}
.nav-header {
    padding: 20px;
}
.logo {
    position: absolute;
    top: 50px;
    left: 40px;
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
    
}
.h-links {
    position: absolute;
    top: 50px;
    right: 30px;
}
.h-links ul li {
    list-style-type: none;
    display: inline;
    text-align: right;
    padding: 40px;
}
.brand-name {
    margin-top: 225px;
    text-align: center;
}
.brand-name p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 55px;
}
.big {
    font-size: 100px;
}
.brand-name p:nth-child(2) {
    font-size: 15px;
    font-weight: 200;
}
.h-btn {
    margin-top: 100px;
    text-align: center;
}
.h-btn button {
    margin-top: 50px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    border: 2px solid #FFF;
    padding: 18px 80px;
    color: #FFF;
    transition-duration: 0.5s;
}
.h-btn button:hover {
    background: rgba(0,0,0,0.8);
}
main {
    width: 100%;
}
.content-1 {
    width: 100%;
    text-align: center;
}
.column-1, .column-2 {
    display: inline-block;
    padding: 120px 10px;
    width: 42%;
    text-align: left;
}
.column-1 h6 {
    font-weight: 100;
    font-size: 25px;
}
.column-1 h6 b {
    font-size: 25px;
}
.column-2 p {
    font-size: 13px;
}
.column-1 {
    margin-left: 20px;
    margin-right: 40px;
}
.content-2 {
    padding: 150px 10px 0 10px;
    width: 100%;
    background: #f3f3f3;
}
.img-art {
    position: relative;
    width: 50%;
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}
.shadow {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #000;
}
.img-art img {
    width: 100%;
    color: #FFF;
}
.img-art h6 {
    z-index: 1;
    position: absolute;
    bottom: 40px;
    left: 35px;
    color: #FFF;
}
.img-art a {
    z-index: 1;
    position: absolute;
    padding: 8px 10px;
    top: 30px;
    right: 40px;
    color: #FFF;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    border: 3px solid #FFF;
}
.img-art a:hover {
     background: rgba(0,0,0,1);
}
.text-art {
    width: 40%;
    display: table-cell;
    vertical-align: middle;

}
.text-art p {
    font-size: 15px;
}
.content-2 h6:first-child {
    text-align: center;
    padding-bottom: 30px;
}
.content-2 article {
    display: table;
    text-align: center;
}
.content-2 article:last-child {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}
form {
    padding: 40px 0;
    width: 100%;
    background: #FFF;
}
form h5 {
    font-size: 20px;
    font-weight: 100;
}
form h5 b {
    font-size: 25px;
    font-weight: 900;
}
.f-column-1 {
    text-align: right;
    display: inline-block;
    width: 34%;
}
.f-column-2 {
    display: inline-block;
    width: 65%;
}
form input[type="email"] {
    padding: 15px;
    width: 70%;
    background: #f3f3f3;
    border: 1px solid #343638;
}
form input[type="button"] {
    color: #FFF;
    cursor: pointer;
    margin-left: -5px;
    padding: 15px;
    background: #343638;
    border: 1px solid #343640;
    transition-duration: 0.5s;
}
form input[type="button"]:hover {
    background: #000;
}

footer * {
    font-size: 14px;
}
footer {
    position: relative;
    background: #fff;
    color: #000;
    padding: 30px 30px;;
}
footer article h4 {
    color: #000;
}
footer article {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    padding: 50px 10px;
    color: #A4A4A4;
}
.f3{
    color: #F3F3F3;
}
.newsletter input[type="email"] {
    padding: 7px;
    font-size: 12px;
    width: 52%;
    background: #f3f3f3;
    border: 1px solid #343638;
}
.newsletter input[type="button"] {
    color: #F0F0F0;
    cursor: pointer;
    margin-left: -5px;
    padding: 7px;
    background: #343640;
    font-size: 12px;
    border: 1px solid #343638;
    transition-duration: 0.5s;
}
.newsletter input[type="button"]:hover {
    background: #000;
}
.wrapper-foot {
    position: relative;
}

.footer-line {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav-footer a {
    padding: 10px;
    color: #000;
}
.copy {
    color: #A4A4A4;
    display: inline-block;
    width: 30%;
}
.f-links {
    display: inline-block;
    width: 69%;
    text-align: right;
}
.f-links ul li {
    list-style-type: none;
    display: inline;
    text-align: right;
}