$font-family: Geneva, Arial, Helvetica, sans-serif;
$bg-clr: #ffffff; 
$txt-clr: #617d8a;
$brd-clr: $txt-clr;
$a-clr: #4ec3d8;
$search: $a-clr;
$art-bg: #efefef;
$post-des: #159587;
$h3-clr: #1697a6;
$h1_4-clr: #1fbcd3;
$bg-btn: $h1_4-clr;