$font-family: Georgia, 'Times New Roman', Times, serif;
$bg-clr: #efefef;
$txt-clr: #757575;
$brd-clr: #cfd8dc;
$a-clr: #fc644a;
$search: $a-clr;
$art-bg: #ffffff;
$post-des: #bdbdbd;
$h3-clr: #617e8c;
$h1_4-clr: #fc5830;
$bg-btn: $h1_4-clr;